<Router AppAssembly="@typeof(Program).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(Layout.MainLayout)" />
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>

	<NotFound>
		<LayoutView Layout="@typeof(Layout.MainLayout)">
			<h1>Página não encontrada</h1>
			<p>A rota acessada não existe.</p>
		</LayoutView>
	</NotFound>
</Router>
